<div class="crear-cuenta-background">
  <div class="registro-opciones-container">
    <h2>Regístrate como...</h2>
    <div class="opciones-wrapper">
      <a class="opcion-card" [routerLink]="['/crear-arrendador']">
        <img src="arrendadorIcon.png" alt="Arrendador" />
        <h3>Arrendador</h3>
        <p>Publica tus propiedades y gestiona tus reservas fácilmente.</p>
      </a>
      <a class="opcion-card" [routerLink]="['/crear-arrendatario']">
        <img src="arrendatarioIcon.png" alt="Arrendatario" />
        <h3>Arrendatario</h3>
        <p>Explora propiedades únicas y reserva tu próxima estadía.</p>
      </a>
    </div>
  </div>
</div>

