<div class="banner">
    <h1>¡Descubre tu próxima estadía con Host & Go!</h1>
    <div class="search-bar">
        <form>
            <div class="location-input">
                <label>Ubicación</label>
                <input type="text" placeholder="¿A dónde vas?" required />
            </div>
            <div>
                <label>Check in</label>
                <input type="text" placeholder="Seleccionar Fecha" required />
            </div>
            <div>
                <label>Check in</label>
                <input type="text" placeholder="Seleccionar Fecha" required />
            </div>
            <div>
                <label>Personas</label>
                <input type="text" placeholder="Añadir persona" required />
            </div>
            <button type="submit"><img src="search.png" alt="search"></button>
        </form>
    </div>
</div>
  